﻿@model IEnumerable<WebAp.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Автомобили</h1>

<p>
    <a asp-action="Create" class="waves-effect waves-light btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GodVypuska)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="car_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GodVypuska)
                </td>
                <td>
                    <a asp-controller="Cars" asp-action="Update" asp-route-id="@item.Id" class="waves-effect waves-light btn">Edit</a>
                </td>
                <td>
                    @*<form asp-controller="Cars" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete the car @item.Marka?')">
                        <button type="submit" class="btn waves-effect waves-red btn-small red">Delete</button>
                    </form>*@
                    <a><button onclick="DeleteCar(@item.Id) " type="submit" class="btn waves-effect waves-red btn-small red">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function DeleteCar(_id) {

        $.ajax({
            method: "POST",
            url: "/Cars/Delete",
            data: {
                id: _id
            },
            success: function (rsp) {
                console.log(rsp);
                if (rsp == "OK") {
                    alert("Удалено");
                }
                else {
                    alert("Ошибка");
                }
                document.getElementById('car_' + _id).style.display = "none";
            },
            error: function (e) {
                alert("Ошибка");
            }
        }
        )
    }

</script>
