﻿@model WebAp.Models.Car

@{
    ViewData["Title"] = "Update the car " + Model.Marka;
}


<h4>Update the car @Model.Marka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input asp-for="Id" type="hidden" />
                
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodVypuska" class="control-label"></label>
                <input asp-for="GodVypuska" class="form-control" />
                <span asp-validation-for="GodVypuska" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary btn-sm" /> &emsp;
                <a asp-action="Index" class="btn btn-link btn-sm">Back to List</a>
            </div>
        </form>
    </div>
</div>
